build-stamp
cmake_tmp/
configure-stamp
debian/files
debian/*.debhelper.log
debian/*.install
debian/*.debhelper
debian/*.substvars
debian/*.postinst
debian/*.init
debian/libnfc-common-lib-0/
debian/libnfc-common-lib-dbg/
debian/libnfc-common-lib-dev/
debian/libnfc-manager-0/
debian/libnfc-manager-dbg/
debian/libnfc-manager-dev/
debian/tmp/
src/agent/include/dbus_agent_binding_private.h
src/agent/include/dbus_agent_glue_private.h
src/manager/include/dbus_service_binding_private.h
src/manager/include/dbus_service_glue_private.h
src/clientlib/nfc.pc
src/commonlib/nfc-common-lib.pc
src/lib/
src/manager/agent/
src/manager/nfc.pc
src/manager/server/
.project
.cproject

